<h1>Invoice</h1>

<p>Order ID: <%= @order.id %></p>
<p>Address: <%= @order.address %></p>
<p>Province: <%= @order.province.name %></p>
<p>Tax: <%= @order.tax %></p>
<p>Total Price: <%= @order.total %></p>
