<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>

      <p>Category: <%= link_to product.category.name, product.category %></p>
    <% if product.image.present? %>
      <div class="card-image">
        <figure class="image">
          <%= image_tag (product.image.variant(resize_to_limit: [500,500])) %>
        </figure>
      </div>
    <% end %>

    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Price: <br><%= number_to_currency(product.price) %>
      </p>
      <!-- Add more details as needed -->
    </footer>
  </div>
</div>
