<h1><%= @product.name %></h1>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Category: <%= @product.category.name if @product.category %></p>

<%= link_to 'Back to products', root_path %>
<%= button_to 'Add to Cart', add_to_cart_carts_path(product_id: @product), method: :post %>
