<h1><%= @product.name %></h1>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Category: <%= @product.category.name if @product.category %></p>

<% if @product.image.attached? %>
  <%= image_tag @product.image %>
<% end %>

<%= link_to 'Back to products', root_path %>
<%= button_to 'Add to Cart', add_to_cart_cart_path(product_id: @product), method: :post %>
