<!DOCTYPE html>
<html>
  <head>
    <title>TechHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
      <% if customer_signed_in? %>
        <%= link_to 'Homepage', root_path, class: 'homepage-button' %>
        <%= link_to 'Account', edit_customer_registration_path, class: 'account-button' %>
        <%= link_to 'Logout', destroy_customer_session_path, method: :delete, class: 'logout-button' %>
      <% else %>
        <%= link_to 'Login', new_customer_session_path, class: 'login-button' %>
      <% end %>
        <%= link_to 'View Past Orders', orders_path %>
        <%= link_to 'Cart', cart_path(@cart), class: 'cart-button' %>
    </nav>
    
    <%= yield %>
  </body>
</html>
